---
import Layout from '../layouts/Layout.astro';

export const getStaticPaths = async () => {
  const response = await fetch(
    "https://api.github.com/repos/joblisttoday/data/contents/companies",
    {
      method: "GET",
      headers: {
        Accept: "application/vnd.github.v3+json",
      },
    }
  );
  const folders = await response.json();
  const folderNames = folders.filter((item) => item.type === "dir").map((item) => item.name);
  return folderNames.map(item => {
    return {
		  params: {
			  id: item
	    }
    }
  })
}

const { id = "joblist-today" } = Astro.params;
---
<Layout>
  <joblist-today company-id="{id}"></joblist-today>
</Layout>

<template id="page-index">
	<section>
		<joblist-favicon></joblist-favicon>
	</section>
	<section>
		<a href="./">joblist.today</a> is an open data system,<br/>
		to explore companies currently recruiting<br/>
		and search open job positions around the world.
	</section>
	<section>
		<menu>
			<li>
				<a href="https://components.joblist.today/apps/search">Search</a>
				companies and jobs listings
			</li>
			<li>
				Explore
				<a href="https://components.joblist.today/apps/companies/">all companies</a>
			</li>
			<li>
				Get in touch
				<a href="https://matrix.to/#/#joblist.today:matrix.org">#joblist.today:matrix.org</a>
			</li>
			<li>
				Add a <a href="https://edit.joblist.today/#/collections/companies/new">new company</a> to the database
			</li>
		</menu>
		<section>
			<joblist-stats></joblist-stats>
		</section>
	</section>
</template>

<template id="page-index-unused">
	<section>
		<blockquote>
			<joblist-heatmap days="365"></joblist-heatmap>
			<cite>Daily snapshot of the job postings for all companies in the
				database for the previous 365 days</cite>
			<cite>
				There is a
				<a href="https://gitlab.com/joblist/components/-/issues/5"
					 taget="_blank"
					 rel="noreferrer noopener"
				>currently a bug on the heatmaps</a>
			</cite>
		</blockquote>
	</section>
</template>

