---
import Layout from '../layouts/Layout.astro';
---
<Layout
  title="Companies recruiting"
  description="joblist.today is a collaborative directory to explore companies currently recruiting and search open job positions around the world"
>
    <joblist-today></joblist-today>
</Layout>

<template id="page-index">
    <section>
		    <joblist-favicon></joblist-favicon>
	  </section>
    <section>
        <p>
            <i>Open database</i> and <i>collaborative directory</i> of <strong>companies currently recruiting</strong> and <strong>job positions around the world</strong> — <a href="./">JobList.Today</a>
        </p>
    </section>
	  <section>
		    <joblist-stats></joblist-stats>
	  </section>
    <section>
        <joblist-companies-highlighted title="Companies currently highlighted">
            <progress/>
        </joblist-companies-highlighted>
    </section>
    <section>
        <menu>
            <li>
				        <a href="https://components.joblist.today/apps/search">Search</a>
				        companies and jobs listings
			      </li>
            <li>
				        <a href="https://edit.joblist.today/#/collections/companies/new">Add a new company</a> to the database
			      </li>
            <li>
                <a href="https://components.joblist.today/apps/pricing-table/" title="Use stripe test credentials">Highlight a company</a> on the website (beta).
            </li>
        </menu>
    </section>
</template>

<script>
 const dialog = document.querySelector("dialog");
 const showButton = document.querySelector("dialog + button");

 showButton.addEventListener("click", () => {
     dialog.showModal();
 });
</script>

<style>
 joblist-today {
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     justify-content: center;
     align-items: center;
     gap: var(--s);
     dialog {
         form {
             display: flex;
             align-items: flex-end;
             justify-content: flex-end;
         }
     }
 }
 joblist-stats {
     display: flex;
	   flex-direction: column;
	   text-align: center;
     transition: all 300ms ease-in-out;
     border: 1px solid transparent;
     background-color: transparent;
     border-radius: var(--s);
     padding: calc(var(--s) / 3);
     &:has(p) {
	       /* border-color: var(--c-link); */
         /* border-radius: 0; */
	       :is(p) {
		         margin: 0;
	       }
     }
     /* &:not(:has(p)) {
	      background-color: var(--c-link);
        } */
 }
 joblist-companies-highlighted {
     display: flex;
     max-width: 60rem;
     :is(ul) {
         display: grid;
         grid-template-columns: 1fr;
         gap: var(--s);
         @media (min-width: 40rem) {
             grid-template-columns: 1fr 1fr;
         }
     }
 }
</style>

