---
import "@joblist/components/style"
---

<!doctype html>
<html lang="en" joblist-layout>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>joblist.today</title>
    <meta name="description" content="joblist.today is a collaborative directory to explore companies currently recruiting and search open job positions around the world" />
	</head>
	<body>
    <joblist-layout>
	    <joblist-menu favicon="true" show-default="true"></joblist-menu>
	    <joblist-page>
		    <slot />
	    </joblist-page>
    </joblist-layout>

    <joblist-db></joblist-db>
    <joblist-umami-script></joblist-umami-script>

    <script>
    import "@joblist/components";
    import "../js/index.js"
    </script>
	</body>
</html>

<style>
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
section + section {
	margin-top: var(--s);
}

joblist-date {
	font-style: italic;
}
</style>
